a {
  color: inherit;
  text-decoration: none;
  padding: 20px;
}

p {
	margin-top: 0;
  margin-bottom: 100;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  text-align: center;
  font-family: "Palatino";
  background: azure;
  color: purple;
}

h1 {
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 0px;
}

img {
  border-radius: 50%;
}

.navbar {
  padding: 20px;
  color: #808080;
}

.navbar a:hover {
  color: purple;
}

/* START ROTATE STYLES */

#rotator img {
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
}

#rotator img:hover {
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
}

/* END ROTATE STYLES */

#loading {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
